body {
    background-color: #073642;
    color: #eee8d5;
}

.w3-btn {
    height: 40px;
}

input {
    height: 40px;
    vertical-align: middle;
}

.GitStories_FilePicker_ClickableItem:hover {
    background-color: #6c71c4;
    cursor: pointer;
}